<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="hogehoge@yahoo.co.jp">
        <network
          host="smtp.mail.yahoo.co.jp"
          port="25"
          userName="hogehoge"
          password="hogehoge"
        />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="Mercari_Url" value="https://www.mercari.com/jp/" />
    <add key="MaskedRider_Category" value="" />
    <add key="MaskedRider_Search" value="仮面ライダー" />
    <add key="MaskedRider_User" value="" />
    <add key="MaskedRider_Match_Keywords_OK" value="カブト ベルト,ゼクター,ケータロス,マツボックリエナジー,プレバン,プレミアムバンダイ,ウィザードリング" />
    <add key="MaskedRider_Match_Keywords_NG" value="専用" />
    <add key="MaskedRider_Mail_To" value="hogehoge@i.softbank.jp" />
    <add key="Kabuto_Category" value="" />
    <add key="Kabuto_Search" value="仮面ライダーカブト" />
    <add key="Kabuto_User" value="" />
    <add key="Kabuto_Match_Keywords_OK" value="ベルト,ゼクター,CSM,コンセレ,コンプリートセレクション" />
    <add key="Kabuto_Match_Keywords_NG" value="専用" />
    <add key="Kabuto_Mail_To" value="hogehoge@i.softbank.jp" />
    <add key="Wizard_Category" value="" />
    <add key="Wizard_Search" value="ウィザードリング" />
    <add key="Wizard_User" value="" />
    <add key="Wizard_Match_Keywords_OK" value="" />
    <add key="Wizard_Match_Keywords_NG" value="専用" />
    <add key="Wizard_Mail_To" value="hogehoge@i.softbank.jp" />
    <add key="Ghost_Category" value="" />
    <add key="Ghost_Search" value="仮面ライダーゴースト" />
    <add key="Ghost_User" value="" />
    <add key="Ghost_Match_Keywords_OK" value="ベルト,ドライバー,ガジェット,バットクロック,クモランタン,コンドルデンワー" />
    <add key="Ghost_Match_Keywords_NG" value="専用" />
    <add key="Ghost_Mail_To" value="hogehoge@i.softbank.jp" />
  </appSettings>
</configuration>